@import '../../resources/styles/variables.scss';


.grid {
    width: calc(100% -250px);
    height: 100%;
    height: calc(100vh - 74px);
    margin-left: 250px;
    background: $back-color-Orders;

    &__buttons {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        .buttons__switch {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 310px;
            height: 46px;
            margin-left: 50px;
            border-radius: 4px;
            padding: 0 4px;
            box-sizing: border-box;
            background-color: $order-back-color;
            border-radius: 4px;

            .switch__active,
            .switch__history {
                font-size: 14px;
                color: black;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 150px;
                height: 38px;
                color: $switch-color;
                font-family: Museo500;
                flex-direction: column;
                text-decoration: none;
                
            }

            .history_active,
            .active_active {
                color: $active-color;
                background: $white;
                border-radius: 4px;
                box-shadow: 2px 2px 16px 0 $active-shadow;
            }
        }

        .buttons__more {
            margin-right: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 366px;
            height: 40px;

            .more__search {
                width: 200px;
                height: 100%;
                position: relative;
                .search__text {
                    padding-left: 14px;
                    width: 100%;
                    height: 100%;
                    border: none;
                    border-radius: 4px;
                    outline: none;
                    cursor: pointer;
                    &::placeholder {
                        font-family:Museo500 ;
                        font-size: 14px;
                        color: $placeholder-color1;
                     }
                }

                .search__icon {
                    position: absolute;
                    top: 35%;
                    right: 5px;
                }
                
            }

            .more__newOrder {
                cursor: pointer;
                outline: none;
                background: none;
                border: none;
                display: flex;
                align-items: center;
                width: 140px;
                
                .newOrder__text {
                    text-align: right;
                    width: 100px;
                    color: $new-order-color;
                    font-size: 16px;
                    font-family: Museo500;
                }
            }
        }  
    }

    &__table {
        margin-top: 30px;
        //height: 100%;
        //overflow: scroll;
        

        .table__titles {
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #D4D4D4;
            border-radius: 6px;
            margin-bottom: 22px;
            margin-left: 50px;
            margin-right: 80px;

            .titles__client,
            .titles__id,
            .titles__orderDate,
            .titles__quantity,
            .titles__price,
            .titles__releaseDate,
            .titles__status {
                display: flex;
                align-items: center;
                .client__text,
                .id__text,
                .orderDate__text,
                .quantity__text,
                .price__text,
                .releaseDate__text,
                .status__text {
                    color: #2C2A29;
                    font-weight: 500;
                    font-size: 14px;
                    margin-left: 10px;
                    font-family: Museo500;
                }

            }

            .titles__client {
                margin-left: 30px;
                width: 22%;
            }
            .titles__id {
                width: 11%;
            }
            .titles__orderDate {
                width: 10%;
            }
            .titles__quantity {
                width: 12.5%;
            }
            .titles__price {
                width: 10%;
            }
            .titles__releaseDate {
                width: 11%;
            }
            .titles__status {
                margin-right: 32px;
                width: 6%;
            }

        }
    }
    &__new {
        display: none;
    }

    @media (max-width: 768px) {
        margin-left: 0;
        display:flex;
        flex-direction: column;
        
        &__buttons {
            justify-content: center;
            
            .buttons__switch {
                border: 2px solid $white;
                margin-left:0px;
                padding: 0;
                width: 244px;
                height: 32px;
                background-color: $back-color-Orders;
                .switch__active,
                .switch__history {
                    height: 32px;
                    border-radius: 4px;
                    font-size:12px ;
                    
                }
                .active_active,
                .history_active {
                    box-sizing: border-box;
                    box-shadow: 0px 0px 8px rgba(172, 172, 172, 0.16114);    
                    padding: 0;
                }
            }
            .buttons__more{
                display: none;

                .more__search {
                    display: none;
                }
            }
        }

        &__table::-webkit-scrollbar {
            display: none;
        }
        &__table {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            overflow: scroll;
            
            .table__titles {
                margin-right: 50px;
                justify-content: space-around;
                .titles__client,
                .titles__quantity,
                .titles__price,
                .titles__releaseDate {
                    display: none;
                }
                .titles__id,
                .titles__orderDate,
                .titles__status { 
                    width: 33%;
                    display: flex;
                    justify-content: center;

                    .id__text,
                    .orderDate__text,
                    .status__text {
                        font-size:12px ;
                    }
                    
                }
            }
        }

        &__btn {
            align-self: center;
            cursor: pointer;
            width: 280px;
            height: 50px;
            margin-top: 30px;
            margin-bottom: 50px;
        }

        &__new {
           
            outline: none;
            display: block;
            
            width: 100%;
            height: 100%;
            border-radius: 4px;
            background-color: $new-order-color;
            font-size: 14px;
            color: $white;
            font-family: Museo500;
        }
    }

    @media (max-width: 1200px) and (min-width: 769px) {    

        margin-left: 90px;
            .table__titles {
                .titles__client {
                    width: 16%;
                }
                .titles__id {
                    width: 11%;
                }
                .titles__orderDate {
                    width: 10%;
                }
                .titles__quantity {
                    width: 11.5%;
                }
                .titles__price {
                    width: 13%;
                }
                .titles__releaseDate {
                    width: 11%;
                }
                .titles__status {
                    width: 10%;
                }

                .titles__client,
                .titles__id,
                .titles__orderDate,
                .titles__quantity,
                .titles__price,
                .titles__releaseDate,
                .titles__status {
                    .client__text,
                    .id__text,
                    .orderDate__text,
                    .quantity__text,
                    .price__text,
                    .releaseDate__text,
                    .status__text {
                    
                        font-size: 12px;

                    }
                }
            }
    }
}





