.OrderInfo {
    min-height: 84px;
    width: calc(100% - 130px);
    margin-left: 50px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(16, 23, 30, 0.1);
    border-radius: 6px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .data {
        margin-left: 30px;
        display: flex;
        align-items: center;
        .wall {
            display: flex;
            align-items: center;
            justify-content: center;
            .packages,
            .square {
                width: 230px;
                display: flex;
                align-items: center;
                justify-content: center;
                .text {
                    font-size: 16px;
                    color: #2C2A29;
                    margin-left: 4px;
                }

                .subtext {
                    margin-left: 7px;
                    font-size: 18px;
                }

            }
        }
        .slash {
            width: 2px;
            height: 26px;
            background: #C4C9D7;
            opacity: 0.5;
        }
        .price {
            width: 230px;
            display: flex;
            align-items: center;
            justify-content: center;
            SVG {
                height: 32px;
                width: 32px;
            }
            .text {
                font-size: 16px;
                color: #2C2A29;
                margin-left: 4px;
            }
            .subtext {
                margin-left: 7px;
                font-size: 18px;
            }
        }
    }
    .arrange {
        outline: none;
        cursor: pointer;
        border: none;
        margin-right: 30px;
        height: 44px;
        width: 240px;
        background: #FDC500;
        border-radius: 6px;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.6;
    }
}
@media (max-width:768px) {
    .OrderInfo {
        width: calc(100% - 24px);
        margin-left: 12px;
        background: none;
        box-shadow: none;
        flex-direction: column;
        .data {
            width: 100%;
            flex-direction: column;
            margin-left: 0px;
            .wall {
                width: 100%;
                height: 50px;
                background: #FFFFFF;
                box-shadow: 0px 0px 10px rgba(40, 43, 46, 0.04);
                border-radius: 4px;
                justify-content: flex-start;
                .packages,
                .square {
                    justify-content: flex-start;
                    SVG {
                        display: none;
                    }
                    .text {
                        margin-left: 12px;
                        font-size: 14px;
                        color: #6F8094;
                    }
                    .subtext {
                        font-size: 16px;
                    }
                }
            }
            .slash {
                display: none;
            }
            .price {
                justify-content: flex-start;
                margin-top: 16px;
                width: 100%;
                height: 50px;
                background: #FFFFFF;
                box-shadow: 0px 0px 10px rgba(40, 43, 46, 0.04);
                border-radius: 4px;
                SVG {
                    display: none;
                }
                .text {
                    margin-left: 12px;
                    font-size: 14px;
                    color: #6F8094;
                }
                .subtext {
                    font-size: 16px;
                }
            }
        }
        .arrange {
            height: 50px;
            width: 280px;
            margin-right: 0px;
            margin-top: 16px;
        }
    }
}

@media (max-width: 1200px) and (min-width: 768px) {
    .OrderInfo {
        width: calc(100% - 60px);
        margin-left: 30px;

        .data {
            width: 60%;
            justify-content: space-between;
            .wall {
                justify-content: space-between;
                width: 60%;
                .packages,
                .square {
                    width: 134px;
                    SVG {
                        height: 24px;
                        width: 24px;
                    }
                    .text {
                        font-size: 14px;
                    }
    
                    .subtext {
                        font-size: 14px;
                    }
                }
                .square {
                    SVG {
                        height: 20px;
                        width: 20px;
                    }
                }
                .packages {

                }
            }
            .price {
                width: 180px;
                SVG {
                    height: 24px;
                    width: 24px;
                }

                .text {
                    font-size: 14px;
                }
    
                .subtext {
                    font-size: 14px;
                }
            }
            .slash {
                height: 20px;
            }
        }
    }
}