.DeliveryInfo {
    margin-top: 30px;
    width: calc(100% - 130px);
    margin-left: 50px;
    background: #FFFFFF;
    height: 126px;
    box-shadow: 0px 0px 12px rgba(16, 23, 30, 0.1);
    border-radius: 6px;
    .header {
        padding-top: 20px;
        margin-left: 30px;
        .space1,
        .weight1 {
            display: none;
        } 
    }
    &__title {

        font-size: 18px;
        color: #2C2A29;
    }
    &__info {
        margin-top: 20px;
        display: flex;
        input {
            outline: none;
            padding-left: 14px;
            width: 21%;
            height: 44px;
            margin-left: 30px;
            background: #FFFFFF;
            border: 1px solid #C9C9C9;
            box-sizing: border-box;
            border-radius: 6px;
            font-size: 16px;
            color: #9C9D9D;

        }
        input::placeholder {
            font-size: 16px;
            color: #9C9D9D;
        }
        :nth-child(2) {
            background: #F5F7FB;
            border: none;
        }

        .text {
            display: none;       
        }
        .space,
        .weight {
            width: 126px;
            margin-left: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            SVG {
                background-color: white;
            }
            .subtext {
                background-color: white;
                margin-left: 25px;
                font-size: 22px;
                color: #2C2A29;
            }
        }

        .space {
            margin-left: 104px;
        }
    }
}

@media (max-width:768px) {
    .DeliveryInfo {
        min-height: 310px;
        width: calc(100% - 24px);
        margin-left: 12px;
        margin-top: 16px;

        .header {
            display: flex;
            justify-content: space-between;
            .measures {
                margin-right: 12px;
                display: flex;
                .space1,
                .weight1 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .subtext1 {
                        margin-left: 12px;
                        font-size: 14px;
                        color: #2C2A29;
                    }
                }
                .weight1 {
                    margin-left: 20px;
                }
            }

        }

        &__info {
            
            flex-direction: column;
            .text {
                margin-left: 12px;
                margin-bottom: 8px;
                font-size: 14px;
                color: #6F8094;
                display: block;
            }
            input {
                height: 42px;
                width: calc(100% - 24px);
                margin-left: 12px;
            }
            input::placeholder {
                color: transparent;
            }
            .space,
            .weight {
                display: none;
            }
            .fio,
            .number {
                margin-bottom: 12px;
            }
        }
    }
}

@media (max-width: 1200px) and (min-width: 768px) {
    .DeliveryInfo {
        width: calc(100% - 60px);
        margin-left: 30px;
        &__title {

        }
        &__info {
            .input {
                ::placeholder {
                    font-size: 14px;
                }
            }
            .space {
                margin-left: 80px;
            }
            .space,
            .weight {
                .subtext {
                    text-align: center;
                    font-size: 18px;
                }
                SVG {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}