@import 'resources/styles/variables.scss';

.modalWrapper {
    position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.22);
	z-index: 30;
}

.modal {
    width: 460px;
    min-height: 343px;
	position: fixed;
	top: 50%;
	left: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translate(-50%, -50%);
	background-color: $white;
    border-radius: 6px;
    box-shadow: 0px 0px 12px rgba(16, 23, 30, 0.1);
	&:focus {
		outline: none;
    }

    &__title {
        margin-top: 30px;
        font-weight: bold;
        font-size: 16px;
        color: #2C2A29;
    }

    &__text {
        font-weight: bold;
        margin-top: 14px;
        font-size: 14px;
        color: #6F8094;
    }
    SVG {
        margin-top: 50px;
    }
    input {
        padding-left: 14px;
        cursor: pointer;
        outline: none;
        width: 300px;
        height: 44px;
        margin-top: 20px;
        background: #FFFFFF;
        border: 1px solid #C9C9C9;
        box-sizing: border-box;
        border-radius: 6px;
    }
    .ok {
        width: 160px;
        height: 36px;
        background: #FDC500;
        border-radius: 6px;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        &__text {
            font-size: 14px;
            color: #FFFFFF;
        }
    }
}

