@import './variables.scss';

body {
    margin: 0;
    padding: 0;
    font-family: Museo500;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'SFU-Regular';
    src: url('./../fonts/SFUIText-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFU-medium';
    src: url('./../fonts/SFUIText-Medium.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Text-Regular';
    src:  url('./../fonts/ProximaNova-Regular.ttf')  format('opentype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Foros-medium';
    src: url('./../fonts/Foros-Medium.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Foros-regular';
    src: url('./../fonts/Foros-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvatic';
    src: url('./../fonts/HelveticaNeueCyr-Roman.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo500';
    src: url('./../fonts/MuseoSansCyrl_500.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo700';
    src: url('./../fonts/MuseoSansCyrl_700.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
