$blue: blue;
$back-color-clients:#F5F7FB;
$box-shadow-search:0px 0px 12px rgba(16, 23, 30, 0.1);
$placeholder-color:#6F8094;
$back-color-Orders:#F5F7FB;
$placeholder-color1:#6F8094;
$active-color:#1A72E8;
$order-back-color:#E8EDF4;
$switch-color:#72778B;
$active-shadow:rgba(23,53,117,0.12);
$new-order-color:#1A72E8;
$color-slidebar :#253049;
$color-line:#E2E3E5;
$breackpoint-phone:768px;
$color-title:#2C2A29;
$color-grey:rgba(255, 255, 255, 0.149476);
$white:#FFFFFF;
$menu-text:#6F8094;
$menu-active-tab:#1A72E8;
$active-order-tablet: rgba(216,216,216,0.1);
$c9-color:#C9C9C9;
$Shadow-newOrder:rgba(16, 23, 30, 0.1);
$error: #D92424;
