@import '../../../../resources/styles/variables.scss';

.table__records {
    height: calc(100vh - 260px);
    overflow: scroll;
}

.table__records::-webkit-scrollbar {
    display: none;
}
.table__record:hover {
    margin-left: 40px;
    margin-right: 70px;
}

.table__record {
    transition: .3s; 
    height: 70px;
    display: flex;
    align-items: center;
    background-color: $white;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 80px;

    .record__client,
    .record__id,
    .record__orderDate,
    .record__quantity,
    .record__price,
    .record__releaseDate,
    .record__status {
        display: flex;
        color: #2C2A29;
        font-size: 14px;
        //margin-left: 10px;
        font-family: Museo500;
        .status__text {
            color: #2C2A29;
            font-size: 14px;
            font-family: Museo500;
        }
    }
    .record__client {
        width: 26.5%;
        margin-left: 30px;
    }
    .record__id {
        width: 12.5%;
    }
    .record__orderDate {
        width: 14.5%;
    }
    .record__quantity {
        width: 11%;
    }
    .record__price {
        width: 10%;
    }
    .record__releaseDate {
        width: 8%;
    }
    .record__status {
        width: 13%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        .status__icon {
            margin: 10px;
            height: 16px;
            width: 16px;
        }
    }
}

@media (max-width: 768px) {
    //.table__records {
    //    overflow: auto;
    //}
    .table__record:hover {
        margin-right: 40px;

    }

    .table__record {
        height: 50px;
        margin-right: 50px;
        justify-content: space-around;
        .record__client,
        .record__quantity,
        .record__price,
        .record__releaseDate {
            display: none;
        }
        .record__id,
        .record__orderDate,
        .record__status { 
            width: 33%;
            display: flex;
            justify-content: center;
            .status__icon {
                display: none;
            } 
            
            .id__text,
            .orderDate__text,
            .status__text {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 1200px) and (min-width: 769px) {
    .table__record {
        .record__client {
            width: 22%;
        }
        .record__id {
            width: 12.5%;
        }
        .record__orderDate {
            width: 14%;
        }
        .record__quantity {
            width: 12%;
        }
        .record__price {
            width: 13%;
        }
        .record__releaseDate {
            width: 12%;
        }
        .record__status {
            width: 16%;
        }

        .record__client,
        .record__id,
        .record__orderDate,
        .record__quantity,
        .record__price,
        .record__releaseDate,
        .record__status {
            font-size: 12px;
            .status__text {
                font-size: 12px;
            }
        }
    }
}    