@import '../../../../resources/styles/variables.scss';

.header {
    height: 74px;
    width: 100%;
    box-shadow: 0px 2px 8px rgba(59, 59, 59, 0.1);
    display:flex;
    align-items: center;
    position: relative;
}

.header__logo {
    width: 250px;
    height: 100%;
    background-color: $color-slidebar;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerpageInfo {
    margin-left: 250px;
    align-items: center;
    width: 100%;
    display: flex;
    &__title {
        color: $color-title;
        margin-left: 50px;
        font-size: 20px;
        font-family: Museo700;
    }
    &__SMS {
        margin-left: calc(100% - 400px)
    }
    &__line {
        margin-left: 30px;
    }
    &__navBar,
    &__search {
        display: none;
    }
}

.headerpageInfoprofile {
    display: flex;
    align-items: center;

    &__name {
        font-size: 14px;
        font-weight: medium;
        margin-left: 30px;
        font-family: Museo700;
    }
    &__icon {
        margin-left: 11px;
    }
}

@media (max-width:$breackpoint-phone){
    .header__logo {
        display: none;
    }
    .headerpageInfo {
        margin-left: 0px;
        justify-content: space-between;
        &__navBar {
            display: block;
            margin-left: 12px;
        }
        &__search {
            display: block;
            margin-right: 12px;
        }
        &__title {
            font-size: 14px;
            margin-left: 0;
        }
        &__bell,
        &__SMS,
        &__line {
            display: none;
        }
    }

    .headerpageInfoprofile {
        display: none;
    }
}

@media (min-width:769px) and (max-width:1200px) {
    .headerpageInfo {
        margin-left: 90px;
    } 
}

