.images {
    &__box {
      width: 70px;
      padding: 0 2px;
      position: relative;
    }
    &__item {
        margin-top: 10px;
    //background: rgba(0, 0, 0, 0.23809);
    box-shadow: 0px 0px 12px rgba(16, 23, 30, 0.1);
    border-radius: 8px;
    width: 272px;
    height: 280px;
    object-fit: cover;
    position: relative;
    display: block;
    overflow: hidden;
    cursor: pointer;
    z-index: 2;
        .upload {
            cursor: pointer;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
            position: absolute;
            z-index: 20;
        }
        img {
            border-radius: 4px;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: .2s;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}
  