@import '../../../../../../resources/styles/variables.scss';

.modalWrapper {
    position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.22);
	z-index: 30;
}

.modal {
    width: 750px;
    min-height: 470px;
	position: fixed;
	top: 22%;
	left: 32%;
	display: flex;
	flex-direction: column;
	align-items: center;
	//transform: translate(-50%, -50%);
	background-color: $white;
    border-radius: 6px;
    box-shadow: 0px 0px 12px rgba(16, 23, 30, 0.1);
	&:focus {
		outline: none;
    }
    
    .header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 42px;
        background-color:#F1F5F9;
        border-radius: 6px 6px 0 0 ;

        &__finish {
            cursor: pointer;
            margin-right: 30px;
            width: 65px;
            height: 26px;
            outline: none;
            border: none;
            background: none;
            color: #1A72E8;
            font-size: 14px;
            //font-family: ;
        }
    }
    .content {
        margin-bottom: 30px;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: $white;

        &__type {
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: center;
            form {
                width: 100%;
            }
            .radio {
                margin-top: 35px;
                width: 100%;
                display: flex;
                justify-content: space-around;

                input[type=radio] {
                    position: absolute;
                    visibility: hidden;
                    display: none;
                }
                
                label {
                    font-size: 12px;
                    border-radius: 2px;
                    width: 82px;
                    height: 32px;
                    color: #2C2A29;
                    display: inline-block;
                    cursor: pointer;
                    text-align: center;
                    background: #F5F7FB;
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    //font-family: ;
                    
                  }

                input[type=radio]:checked + label{
                    color: #1A72E8;
                    background: $white;
                }
                
                
                #block,
                #kirpich,
                #klinker {    
                    cursor: pointer;
                    width: 82px;
                    height: 34px;
                }
            }

            .type__drawing {
                margin-top: 30px;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .drawing__blocks {
                    margin-left: 10px;
                    width: 200px;
                    height: 264px;
                    display: flex;
                    flex-wrap: wrap;
                    .block {
                        margin-top: 2px;
                        height:42px;
                        width:82px;
                        border-radius: 2px;
                        margin-left: 2px;
                    }
                    :nth-child(3) {
                        margin-left: 30px;
                    }
                    :nth-child(7) {
                        margin-left: 30px;
                    }
                    :nth-child(11) {
                        margin-left: 30px;
                    }
                    .brick {
                        border: none;
                        width: 55px;
                        height: 15px;
                        border-radius: 0px;
                    }
                    .brick:nth-child(3) {
                        margin-left: 2px;
                    }
                    .brick:nth-child(7) {
                        margin-left: 2px;
                    }
                    .brick:nth-child(11) {
                        margin-left: 2px;
                    }
                    .brick:nth-child(6n + 4) {
                        margin-left: 30px;
                    }

                }

                .upperDraw {
                    display: flex;
                }

                .drawing__height {
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    flex-direction: row-reverse;
                    .arrow__text {
                        transform: rotate(-90deg);
                        font-size: 14px;
                        color: #2C2A29;
                        //font-family: ;
                    }
                }

                .drawing__width {
                    margin-top: 20px;
                    align-self: flex-end;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    SVG {
                        width: 205px;
                    }
                    .arrow__text {
                        font-size: 14px;
                        color: #2C2A29;
                        //font-family: ;
                    }
                }
                
            }
        }

        &__design {
            margin-left: 30px;
            width: 50%;
            form {
                display: flex;
                justify-content: center;
                width: 100%;
            }
            .radio {
                margin-top: 30px;
                width: 352px;
                height: 42px;
                border-radius: 6px;
                background: #F5F7FB;
                display: flex;
                justify-content: space-around;
                align-items: center;

                input[type=radio] {
                    position: absolute;
                    visibility: hidden;
                    display: none;
                }
                
                label {
                    font-size: 12px;
                    border-radius: 4px;
                    height: 34px;
                    width: 113px;
                    color: #2C2A29;
                    display: inline-block;
                    cursor: pointer;
                    text-align: center;
                    background: #F5F7FB;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 4px;
                    margin-right: 4px;

                    //font-family: ;
                    transition: 0.2s;
                  }

                input[type=radio]:checked + label{
                    color: #1A72E8;
                    background: $white;
                    box-shadow: 0px 0px 4px rgba(26, 38, 64, 0.08);
                }
                
                .des1,
                .des2,
                .des3 {
                    cursor: pointer;
                    width: 82px;
                    height: 34px;
                }   

                .border__left {
                    width: 0px;
                    height: 18px;
                    border: 1px solid #DBDBDB;
                }
                .border__right {
                    width: 0px;
                    height: 18px;
                    border: 1px solid #DBDBDB;
                }
                
            }

            .container__colors {
                width: 380px;
                height: 192px;
            }

            .colors {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
                margin-left: 12px;
                margin-top: 26px;
                
                
                .color {

                    input[type=radio] {
                        position: absolute;
                        opacity: 0;
                    }
                    img {
                        cursor: pointer;
                        width: 82px;
                        height: 42px;
                        border-radius: 2px;
                    }
                    width: 82px;
                    height: 42px;
                    border-radius: 2px;
                    margin-right: 8px;
                    margin-bottom: 8px;

                    &__block {
                        cursor: pointer;
                        border-radius: 2px;
                    }

                    .block__C {
                        text-align: center;
                        height: 42px;
                        cursor: pointer;
                        .check {
                            SVG {
                                width: 0;
                                height: 0;
                            }
                        }
                        .block__id {
                            position: absolute;
                            margin-top: 14px;
                            margin-left: 31px;
                            font-size: 12px;
                            color: white;
                        }
                    }

                    .block__C_active {

                        .block__id {
                            display: none;
                        }

                        .check {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 43px;
                            width: 83px;
                            background-color: white;
                            box-shadow: 0px 0px 4px rgba(26, 38, 64, 0.08);
                            border-radius: 2px;
                            SVG {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }



        .more {
            cursor: pointer;
            height: 30px;
            position: absolute;
            margin-top: 88px;
            left: 82%;
            display: flex;
            justify-content: center;
            align-items: center;
            &__text {
                margin-right: 10px;
                font-size: 14px;
                color: #1A72E8;

            }
            &__icon {
                
                &_active {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .information {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__content {
            display: flex;
            align-items: center;
            justify-content: space-around;
            .box {
                width: 366px;
                height: 210px;
            }
            .details {
                width: 262px;
                height: 210px;
                .detail {
                    width: 262px;
                    height: 30px;
                    border-radius: 1px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color:#F5F7FB;

                    &__description,
                    &__data {
                        color: #2C2A29;
                        font-size: 12px;
                        //font-family: ;
                    }
                    &__description {
                        margin-left: 10px;
                    }
                    &__data {
                        margin-right: 10px;
                    }
                }
                .detail:nth-child(2n) {
                    background-color: white;
                }
                .detail:nth-child(6) {
                    &__data {
                        //font-family: ;
                    } 
                }

            }
        }

        &__more {
            margin-top: 30px;
            margin-bottom: 30px;
            text-align: center;
            font-size: 12px;
            color: #2C2A29;
            //font-family: ;
        }
    }
}

@media (max-width:768px) {
    .modal::-webkit-scrollbar {
        display: none;
    }
    .modal {
        display: flex;
        //justify-content: center;
        overflow: scroll;
        -ms-overflow-style: none;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0%;
        left: 0%;
        &:focus {
            outline: none;
        }
        .header {
            position: fixed;
            background-color:$white
        }
        .content {
            flex-direction: column;
            margin-top: 10px;
            //justify-content: center;
            align-items: center;
            &__type {
                width: 100%;
                .radio {
                    label {
                        width: 84px;
                        height: 42px;
                    }
                    input[type=radio]:checked + label{
                        border-radius: 2px;
                        border: 0.87px solid #2B7DE9;
                    }
                }

                .type__drawing {
                    margin-right: 62px;
                }
            }
            &__design {
                margin-left: 0px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: calc(100% - 32px);
                .radio {
                    width: 343px;
                    height: 32px;
                    border-radius: 0;

                    label {
                        width: 114px;
                        height: 32px;
                        margin:0px;
                        border-radius: 0;
                    }
                }
                .container__colors {
                    height: 226px;
                }
                .color {
                    width: 78px;
                }
            }

            .more {
                margin: 0px;
                position: static;
                align-self: flex-start;
                padding-bottom: 20px;
            }
            

        }
        .information {
            margin-top: 20px;
            &__content {
                flex-direction: column;

                .box {
                    width: 263px;
                    //height: 151px;
                    margin-bottom: 20px;
                }
                .details {
                    width: calc(100% - 32px);
                    height: 210px;
                    .detail {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) and (min-width: 769px) {
    .modal {
        top: 73px;
        left: 10%;
    }
}
