.LocationInfo {
    margin-top: 30px;
    margin-left: 50px;
    width: calc(100% - 130px);
    min-height: 126px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 12px rgba(16, 23, 30, 0.1);
    .header {
        padding-top: 20px;
        margin-left: 30px;
        .location {
            display: none;
        }
    }
    &__title {
        font-size: 18px;
        color: #2C2A29;
        //font-family: ;
    }
    &__data {
        display: flex;
        margin-top: 20px;

        .container {
            margin-left: 30px;
            width: 21%;
            .title {
                display: none;
            }
            .input {
                outline: none;
                cursor: pointer;
                width: 100%;
                height: 44px;
                border-radius: 6px;
                border: 1px solid #C9C9C9;
                padding-left: 14px;
                ::placeholder {
                    font-size: 16px;
                    color: #9C9D9D;
                    
                }
            }
        }
        :nth-child(1) {
            .input {
                background: #F5F7FB;
                border: none;
            }

        }
        .location {
            cursor: pointer;
            width: 152px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 12%;
            .text {
                margin-left: 10px;
                font-size: 16px;
                color: #1A72E8;
            }
        }
    }
}
@media (max-width:768px) {
    .LocationInfo {
        margin-top: 16px;
        margin-left: 12px;
        width: calc(100% - 24px);

        .header {
            padding-top: 16px;
            margin-left: 12px;
            display: flex;
            justify-content: space-between;
            .location {
                cursor: pointer;
                width: 152px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 8px;
                .text {
                    margin-left: 10px;
                    font-size: 14px;
                    color: #1A72E8;
                }
            }
        }
        &__title {
            position: relative;
            font-size: 16px;
        }

        &__data {
            padding-bottom: 12px;
            .container {
                margin: 0px;
                .input {
                    margin: 0px;
                }
                .title {
                    display: block;
                    font-size: 14px;
                    color: #6F8094;
                    //font-family: ;
                    margin: 0px;
                    margin-bottom: 8px;
                }
                input::placeholder {
                    color: transparent;
                }
            }
            flex-wrap: wrap;
            :nth-child(1) {
                width: calc(100% - 24px);
                margin-left: 12px;
                margin-bottom: 12px;
            }
            :nth-child(2) {
                margin-left: 12px;
                width: 60%;

            }
            :nth-child(3) {
                margin-left: 10px;
                width: 20%;
            }
            .location {
                display: none;
            }
        }
    }
}
@media (max-width: 1200px) and (min-width: 768px) {
    .LocationInfo {
        margin-left: 30px;
        width: calc(100% - 60px);
    }
}