.ClientInfo {
    margin-top: 206px;
    margin-left: 50px;
    width: calc(100% - 130px);
    min-height: 126px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 12px rgba(16, 23, 30, 0.1);

    &__title {
        margin-left: 30px;
        padding-top: 20px;
        margin-bottom: 20px;
        font-size: 18px;
        color: #2C2A29;
        //font-family: ;
    }
    &__data {
        border-radius: 6px 6px 0px 0px;
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        .container {
            margin-left: 30px;
            width: 21%;
            .title {
                display: none;
            }
        }
        .input {  
            outline: none;
            cursor: pointer;
            width: 100%;
            height: 44px;
            border-radius: 6px;
            border: 1px solid #C9C9C9;
            padding-left: 14px;
            ::placeholder {
                font-size: 16px;
                color: #9C9D9D;
                
            }
        }
        .select {
            border: 1px solid rgb(134, 84, 84);
            width: 100%;
            height: 44px;
            padding: 0px;
            ::placeholder {
                font-size: 16px;
                color: #9C9D9D;
                
            }
        }
    }
    &__ip {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-top: 2px solid #F2F2F2;; 
        border-radius: 0px 0px 6px 6px;
        .inn,
        .account,
        .address,
        .allName,
        .factAdress,
        .mailIndex,
        .ogrn,
        .okpo,
        .corrporat,
        .bik {
            margin-top: 16px;
            margin-left: 30px;
            width: 21%;
            .input {
                outline: none;
                cursor: pointer;
                width: 100%;
                height: 44px;
                border-radius: 6px;
                border: 1px solid #C9C9C9;
                padding-left: 14px;
            }
            .title {
                margin-bottom: 9px;
                font-size: 16px;
                color: #6F8094;
                //font-family: ;
            }
        }
        .corrporat,
        .bik {
            margin-bottom: 16px;
        }
    }
}

@media (max-width:768px) {
    .ClientInfo {
        margin-top: 340px;
        width: calc(100% - 24px);
        min-height: 375px;
        margin-left: 12px;
        &__title {
            padding-top: 16px;
            margin-left: 12px;
            margin-bottom: 19px;
            font-size: 16px;
        }
        &__data {
            margin-left: 0px;
            flex-direction: column;
            justify-content: center;
            .container {
                margin: 0px;
                width: calc(100% - 24px);
                .title {
                    margin-bottom: 9px;
                    display: block;
                    font-size: 14px;
                    line-height: 18px;
                    color: #6F8094;
                }
            }
            .input,
            .select {
                margin-bottom: 12px;
                margin-left: 0px;
                width: 100%;
                
            }
            input::placeholder {
                color: transparent;
            }
        }
        &__ip {
            flex-wrap: nowrap;
            flex-direction: column;
        }
        .inn,
        .account,
        .address,
        .allName,
        .factAdress,
        .mailIndex,
        .ogrn,
        .okpo,
        .corrporat,
        .bik {
            width: calc(100% - 24px);
            margin: 0px;
            margin-top: 12px;
        }
        .bik {
            margin-bottom: 72px;
        }
    }
}
@media (max-width: 1200px) and (min-width: 768px) {
    .ClientInfo {
        margin-left: 30px;
        width: calc(100% - 60px);

        &__title {
            font-size: 16px;
        }
        &__data {
            .container {
                margin-left: 20px;
            }
            .input {
                ::placeholder {
                    font-size: 14px;
                }
            }
            .select {

            }
        }
    }
}