.profile {
    width: calc(100% - 250px);
    margin-left: 250px;
    background: #F5F7FB;
    height: calc(100vh - 74px);
    display: flex;

    &__avatar {
        margin-left: 50px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .input {
            display: none;
        }
        label {
            z-index: 10;
        }
        .avatar {
            //box-shadow: 0px 0px 12px rgba(16, 23, 30, 0.1);
            border-radius: 8px;
            width: 300px;
            height: 308px;
            cursor: pointer;
            border: none;
            outline: none;
            color: transparent;

        }



        .changePass {
            margin-top: 27px;
            font-size: 16px;
            color: #1A72E8;
            //font-family: ;
        }
    }

    &__data {
        width: calc(100% - 434px);
        margin-left: 30px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;

        .common {
            display: flex;
            justify-content: space-between;
            .fio,
            .mail,
            .phone {
                border: none;
                outline: none;
                width: 31%;
                height: 48px;
                background: #FFFFFF;
                box-shadow: 0px 0px 12px rgba(16, 23, 30, 0.1);
                border-radius: 6px;
                font-size: 16px;
                color: #2C2A29;
                padding-left: 14px;
            }
        }
        .city {
            font-size: 16px;
            padding-left: 14px;
            color: #2C2A29;
            border: none;
            outline: none;
            margin-top: 30px;
            width: calc(100% - 14px);
            height: 48px;
            background: #FFFFFF;
            box-shadow: 0px 0px 12px rgba(16, 23, 30, 0.1);
            border-radius: 6px;
        }
        .container {
            margin-top: 30px;
            height: 124px;
            background: #FFFFFF;
            box-shadow: 0px 0px 12px rgba(16, 23, 30, 0.1);
            border-radius: 6px;

            .about {

                outline: none;
                background: #FFFFFF;
                border: 1px solid #C9C9C9;
                box-sizing: border-box;
                border-radius: 6px;
                margin-top: 10px;
                margin-left: 10px;
                width: calc(100% - 20px);
                height: calc(100% - 20px);
                padding-left: 14px;
                padding-right: 14px;
                padding-top: 10px;
                font-size: 16px;

            }
            .about::placeholder {
                font-size: 16px;
                color: #C9C9C9;
            }
        }
    }
}