
.modalWrapper {
    position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.22);
	z-index: 3000;
}

.modal {
    width: 460px;
   height: 216px;
	position: fixed;
	top: 50%;
	left: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translate(-50%, -50%);
	background-color:white;
    border-radius: 6px;
	box-shadow: 0px 0px 12px rgba(16, 23, 30, 0.1);
	border-radius: 6px;
	&:focus {
		outline: none;
	}
	.header {
		width: 100%;
		height: 42px;
		background-color: #F5F7FB;
		border-radius: 6px 6px 0px 0px;
		
	.title {
		margin-top: 11px;
		margin-left: 30px;
		font-size: 16px;
		//line-height: 20px;
		color: #2C2A29;
		font-family: 'Museo700';

	}
	}
	.content {
		display: flex;
		flex-direction: column;
		justify-self: center;
		//align-items: center;
		.text {
			width: calc(100% - 148px);
			margin-top: 30px;
			margin-left: 74px;
			text-align: center;
			margin-bottom: 30px;
			color: #2C2A29;
			font-family: 'Museo500';
			>span{
				font-family: 'Museo700';
			}

		}
		.btn {
			margin-left: 140px;
			width: 181px;
			height: 36px;
			font-size: 14px;
			color: #fff;
			background: #FDC500;
			border-radius: 6px;
			border: none;
			outline: none;
			cursor: pointer;
		}
	}
	
}
