.table__record {
    transition: .3s;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 80px;

    .record__FIO,
    .record__phone,
    .record__mail,
    .record__date {
        display: flex;
        color: #2C2A29;
        font-size: 14px;
        //margin-left: 10px;
        font-family: Museo500;
    }
    .record__FIO {
        width: 30%;
        margin-left: 30px;
    }
    .record__phone {
        width: 17%;
        margin-left: 30px;
    }
    .record__mail {
        width: 25%;
        margin-left: 15px;
    }
    .record__date {
        width: 17%;
        //margin-left: 30px;
    }

}

.table__record:hover {
    margin-left: 40px;
    margin-right: 70px;
}

@media (max-width: 768px) {
    .table__record {
        margin-right: 50px;
        justify-content: space-around;
        .record__phone,
        .record__mail {
            display: none;
        }
        .record__date,
        .record__FIO { 
            width: 33%;
            display: flex;
            justify-content: center;
            
            .FIO__text,
            .date__text {
                font-size: 14px;
            }
        }
    }
    .table__record:hover {
        margin-right: 40px;

    }
}