@import '../../../../../../resources/styles/variables.scss';

.modalWrapper {
    position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.22);
	z-index: 30;
}

.modal {
    width: 460px;
    min-height: 272px;
	position: fixed;
	top: 22%;
	left: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $white;
    border-radius: 6px;
    box-shadow: 0px 0px 12px rgba(16, 23, 30, 0.1);
    &:focus {
		outline: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color:#F1F5F9;
        border-radius: 6px 6px 0 0 ;

        &__title {
            font-size: 16px;
            color: #2C2A29;
            margin-left: 30px;
            //font-family: ;
        }
        &__finish {
            cursor: pointer;
            width: 65px;
            height: 30px;
            outline: none;
            border: none;
            background: none;
            color: #1A72E8;
            font-size: 14px;
            //font-family: ;
        }
        &__finish1 {
            display: none;
        }
    }

    .titles {
        width: calc(100% - 80px);
        margin-right: 80px;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .content {

        &__container::-webkit-scrollbar-thumb {
            background-color: #BFC4CD;
            border-radius: 3px;
        }
        &__container::-webkit-scrollbar {

            width: 6px;
            background-color: white;
            border-radius: 2px 2px 2px 2px;
        }
        &__container {
            margin-right: 3px;
            max-height: 328px;
            overflow: scroll;
            overflow-x: hidden;
        }
        width: 100%;
        &__data {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .height,
            .width,
            .quantity {
                position: relative;
                width: 90px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .input {
                    outline: none;
                    text-align: center;
                    font-size: 16px;
                    color: #6F8094;
                    margin-top: 24px;
                    width: 90px;
                    height: 42px;
                    background: white;
                    border: 1px solid #C9C9C9;
                    box-sizing: border-box;
                    border-radius: 6px;
                    //font-family: ;
                }
                .text {

                }
                .symbol {
                    margin-left: 28px;
                    margin-top: 14px;
                    position: absolute;
                    font-size: 16px;
                    color: #6F8094;
                    //font-family: ;
                }
            }
            .delete {
                cursor: pointer;
                align-self: flex-end;
                margin-bottom: 10px;
                width: 24px;
                height: 24px;
                
            }
            .delete:hover {
                path {
                    transition-duration: .5s;
                    fill:#D92424
                }
            }
        }
        &__text {
            margin-top: 14px;
            margin-left: 30px;
            font-size: 12px;
            color: #6F8094;
            //font-family: ;
        }
        &__add {
            cursor: pointer;
            color: #1A72E8;
            font-size: 16px;
            margin-left: 30px;
            margin-top: 30px;
            margin-bottom: 30px;
            outline: none;
            border: none;
            background: none;
            //font-family: ;
        }
        .ready {
            display: none;
        }
    }
}

@media (max-width:768px) {
    .modal {
        width: calc(100% - 44px);
        min-height: 258px;
        margin-left: 22px;
        margin-right: 22px;
        left: 0;
        top: 25%;
        
        .header {
            height: 42px;
            &__title {
                font-size: 12px;
            }
            &__finish {
                display: none;
            }
            &__finish1 {
                display: block;
                margin-right: 16px;
                cursor: pointer;
            }
        }

        .titles {
            margin-right: 40px;
            width: calc(100% - 32px);
        }

        .content {

            .footer {
                margin-top: 20px;
                margin-left: 16px;
                margin-right: 16px;
                margin-bottom: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
            }
            &__add {
                font-size: 16px;
                margin: 0px;
            }

            &__text {
                font-size: 10px;
                margin: 0px;
            }
            .ready {
                width: 100%;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top: 2px solid rgba(0, 0, 0, 0.22);;
                &__btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 42px;
                    width: calc(100% - 32px);
                    background: #1A72E8;
                    border-radius: 6px;
                    cursor: pointer;
                    .text {
                        color: $white;
                        font-size: 14px;
                        //font-family: ;
                    }
                }
            }
        }
    }
}