@import 'resources/styles/variables.scss';

.authorization {
    background: center / cover no-repeat url("../../resources/images/autobackground.png");
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left:0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    &__forma {
        width: 460px;
        height: 363px;
        border-radius: 6px;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Museo500';

        .input{
            margin-top: 40px;
            margin-bottom: 16px;
        }
        .input,
        .password {
            width: 284px;
            height: 40px;
            padding-left: 14px;
            outline: none;
            color: $color-title;
            background-color: $white;
            border: 1px solid #C9C9C9;
            border-radius: 6px;
            font-size: 16px;
            cursor: pointer;
            ::placeholder {
                color: #9C9D9D;
            }
            &__error{
                border-color: $error;
                color: $error;
            }
        }
        .subWrapper {
            display: flex;
            justify-content: space-between;
            width: 300px;
            .forget {
                margin-right: 77px;
                align-self: flex-end;
                margin-top: 16px;
                margin-bottom: 19px;
                color: $placeholder-color;
                font-size: 14px;
                cursor: pointer;
            }
            &__error {
                display: flex;
                margin-top: 7px;
                color: $error;
                font-size: 10px;
                >div{
                    text-align: center;
                    background-color: $error;
                    color: $white;
                    border-radius: 100%;
                    width: 12px;
                    height: 12px;
                    margin-right: 10px;
                }
            }
            &__forget {
                align-self: flex-end;
                margin-top: 16px;
                margin-bottom: 19px;
                color: $placeholder-color;
                font-size: 14px;
                cursor: pointer;
            }
        }

        .btn {
            background: #FDC500; 
            border-radius: 6px;
            width: 300px;
            height: 44px;
            outline: none;
            border: none;
            font-size: 14px;
            color: $white;
            cursor: pointer;
            &:disabled,
            &[disabled]{
                opacity: 0.5;
                cursor: not-allowed;     
            }
        }
    }
}
