@import "../../../../resources/styles/variables.scss";
@import "https://cdn.jsdelivr.net/npm/semantic-ui/dist/semantic.min.css";
.walls {
    position: relative;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 80px;
    padding-bottom: 23px;

    .navigation::-webkit-scrollbar-track {
        background:$white
    }
    .navigation::-webkit-scrollbar {
        height:6px;
        background-color: white;
        border-radius: 0 0 0 0;
        box-shadow:0px 0px 12px rgba(16, 23, 30, 0.1);
        z-index: 60;
    }
    .navigation::-webkit-scrollbar-thumb {

        background-color: #BFC4CD;
        border-radius: 3px;
    }
    .navigation {
        display: flex;
        width: calc(100%);
        overflow: scroll;
        overflow-y: hidden;

        .container__plus:hover {
            transition: .4s;
            background-color:#BFC4CD ;
        }

        .container__plus {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            margin-top: 6px;
            cursor: pointer;
            border-radius: 12px;

        }
        &__group {
            display: flex;

            .navigation__item {
                cursor: pointer;
                height: 32px;
                width: 126px;
                position: relative;
                z-index: 20;
                display: block;
                margin: 0;
                text-align: center;
                -webkit-flex: 1;
                -moz-flex: 1;
                -ms-flex: 1;
                flex: 1;
                .text {
                    position: absolute;
                    margin-left: 30px;
                    font-size: 14px;
                    margin-top: 8px;
                    z-index: 21;
                    color: #2C2A29;
                    opacity: 0.5;
                    //font-family: ;
                }
                .navigation__close {
                    height: 10px;
                    width: 8px;
                    position: absolute;
                    margin-left: 30px;
                    margin-top: 12px;
                    z-index: 22;
                }
            }

            .navigation__item_active {
                z-index: 20;
                
                .text {
                    color: #2C2A29;
                    opacity: 1;
                }
            }

            .navigation__item::after {
                position: absolute;
                height: 32px;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                z-index: 20;
                outline: 1px solid transparent;
                border-radius: 10px 10px 0 0;
                background: red;
                content: '';
                transform: perspective(5px) rotateX(1.7deg) translateZ(-1px);
                transform-origin: 0 0;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                background: rgba(255, 255, 255, 0.553786);
                opacity: 0.6;
                box-shadow: 0px 0px 12px rgba(16, 23, 30, 0.1);
            }

            .navigation__item_active::after {
                box-shadow: 0px 0px 12px rgba(16, 23, 30, 0.1);
                opacity: 1;
                box-shadow: none;
                position: absolute;
                height: 33px;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                z-index: 20;
                outline: 1px solid transparent;
                border-radius: 10px 10px 0 0;
                background: $white;
                content: '';
                transform: perspective(5px) rotateX(1.7deg) translateZ(-1px);
                transform-origin: 0 0;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }         
        }
        
    }

    .container__scroll {
        top: 40px;
        position: absolute;
        right: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 32px;
        box-shadow: -2px 0px 4px rgba(16, 23, 30, 0.1);
        cursor: pointer;
        background: #F5F7FB;
        z-index: 50;
    }


    &__info {

        width: calc(100% - 130px);
        position: absolute;
        height: 180px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: $white;
        
        border-radius: 0px 0px 6px 6px;

        .properties {
            
            width: 40%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .properties1 {
            width: 30%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .info__choose {
            cursor: pointer;
            margin-left: 30px;
            width: 560px;
            height: 120px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background: $white;
            border: 1px solid $c9-color;
            box-sizing: border-box;
            border-radius: 6px;

            .color,
            .type {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .input {
                    margin-left: 10px;
                    width: 110px;
                }
            }
            .type {
                width: 110px;
            }

            .wall {
                width: 62px;
                height: 84px;
            }

            .allColors {
                //width: 180px;
                height: 42px;
                display: flex;
                justify-content: space-around;
                align-items: center;

            }

            .text {
                display: inline;
                font-size: 16px;
                text-align: center;
                color: $color-title;
                margin-bottom: 24px;
                //font-family: ;
            }

            .input {
                display: flex;
                justify-content: center;
                align-items: center;
                outline: none;
                height: 42px;
                background: $back-color-Orders;
                border-radius: 6px;
                border: none;
            }
        }

        .info__quantity {
            width: 140px;
        }

        .info__square,
        .info__boxes {
            .number {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
        }
        .info__square{
            .title__text {
            width: 120px;
            }
        }

        .info__width,
        .info__height,
        .info__quantity,
        .info__square,
        .info__boxes {
            height: 84px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .title {
                display: flex;
                margin-bottom: 22px;

                &__text {
                    font-size: 16px;
                    color: $color-title;
                    margin-left: 11px;
                    //font-family: ;
                }
            }
            .input {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90px;
                height: 42px;
                outline: none;
                background: $white;
                border: 1px solid $c9-color;
                box-sizing: border-box;
                border-radius: 6px;
                text-align: center;
                font-size: 16px;
                color: #6F8094;
                &__text {
                    font-size: 16px;
                    color: #6F8094;
                }
            }
            .value {
                position: absolute;
                margin-left:30px ;
                margin-top:54px ;
                font-size: 16px;
                color: $placeholder-color1;
                //font-family: ;
            }

        }

        .info__square,
        .info__boxes {
            .title {
                margin-bottom: 32px;
            }
            .number {
                font-size: 18px;
                text-align: center;
                color: $color-title;
            }
        }

        .info__quantity {
            .input {
                background: $back-color-Orders;
                border: none;
            }
            
        }

    }
}
@media (max-width:768px) {
    .walls {
        padding-top: 16px ;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 16px;
    
        .navigation {
            width: 100%
        }

        .container__scroll {
            right: 12px;
            top: 16px;
        }

        &__info {

            width: calc(100% - 24px);
            height: 320px;
            flex-direction: column;

            .info__choose {
                width: calc(100% - 24px);
                height: 96px;
                margin-left: 0px;

                .wall {
                    width: 48px;
                    height: 64px;
                }

                .allColors {

    
                }
    
                .text {
                    font-size: 12px;
                    margin-bottom: 13px;
                }
    
                .input {

                }
            }
            .properties {
                width: calc(100% - 24px);
            }

            .properties1 {
                width: 100%;
                height: 102px;
                margin: 0px;
                border-radius: 0px 0px 4px 4px;
                justify-content: center;
                border-top: 3px solid $back-color-Orders;
                .info__boxes {
                    margin-left: 41px;
                }
                .info__boxes,
                .info__square {
                    .number {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 16px;
                        color: #2C2A29;
                        &__measure {
                            margin-left: 11px;
                            align-self: flex-end;
                            font-size: 12px;
                            color: #6F8094;
                        }
                    }
                }
            }

            .info__width,
            .info__height,
            .info__quantity,
            .info__square,
            .info__boxes {
                .input {
                    width: 70px;
                    height: 42px;
                    font-size: 12px;
                    &__text {
                        font-size: 12px;
                    }
                }
                .value {
                    margin-left:24px ;
                    margin-top:42px ;
                    font-size: 12px;
                }
                .title {
                    margin-bottom: 13px;
                    &__text {
                        margin: 0px;
                        font-size: 12px;
                    }
                    &__icon {
                        display: none;
                    }
                }
                
            }
        }
    }
}

@media (max-width: 1200px) and (min-width: 963px){
    .walls {
    padding-right: 30px;
    padding-left: 30px;
    .container__scroll {
        right: 30px;
    }
        &__info {
            width: calc(100% - 60px);
        .properties {
            margin-left: 15px;
            width: 35%;
        }
        .properties1 {
            width: 25%;
        }
        .info__choose {
            margin-left: 15px;
            width: 454px;
            height: 122px;
            .wall {
                width: 67px;
                height: 90px;
            }
            .input {
                width: 90px;
                height: 44px;
            }
            .text {
                font-size: 14px;
            }

            
        }

        .info__square {
            .title__text {
                width: 106px;
            }
        }

        .info__width,
        .info__height,
        .info__quantity,
        .info__square,
        .info__boxes {
            .title {
                &__icon {
                    display: none;
                }
                &__text {
                    margin: 0px;
                    font-size: 14px;
                }
                
            }
            .input {
                height: 44px;
            }
        }

        }
    } 
}
@media (max-width: 962px) and (min-width: 769px) {
    .walls {
        padding-right: 30px;
        padding-left: 30px;
        
        .container__scroll {
            right: 30px;
        }
        &__info {
            width: calc(100% - 60px);
            .properties {
                width: 35%;
            }
            .properties1 {
                width: 25%;
            }
            .info__choose {
                margin-left: 15px;
                width: 380px;
                height: 122px;
                .wall {
                    width: 58px;
                    height: 86px;
                }
                
                .text {
                    font-size: 12px;
                }
    
                
            }
    
            .info__square {
                .title__text {
                    width: 106px;
                }
            }

            .info__boxes {
                margin-left: 0px;
                .title {
                    margin-left: 0px;
                }
            }
            .info__quantity {
                width: 90px;
                .title__text {
                    width: 90px;
                }
                .input {
                    width: 76px;
                }
            }

            .info__width,
            .info__height,
            .info__quantity,
            .info__square,
            .info__boxes {
                .title {
                    &__icon {
                        display: none;
                    }
                    &__text {
                        margin: 0px;
                        font-size: 12px;
                    }
                    
                }
                .input {
                    width: 56px;
                    height: 44px;
                    font-size: 12px;
                }
                .value {
                    margin-left:20px ;
                    margin-top:50px ;
                    font-size: 12px;
                }
                .number {
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &__measure {
                        margin-left: 6px;
                        align-self: flex-end;
                        font-size: 12px;
                        color: #6F8094;
                    }
                }
            }
        }
    }
}
    



