@import '../../../../resources/styles/variables.scss';


.grid {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: $color-slidebar;   
    &__logo {
        width: 250px;
        height: 74px;
        background-color: $color-slidebar;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__logo1 {
        display: none;
    }
    &__bell {
        display: none;
    }
    &__horLine1,
    &__horLine,
    &__orders,
    &__clients,
    &__catalog,
    &__examples,
    &__profile,
    &__support {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 26px;
        display: flex;
        justify-content: space-between;
        .orders__info{
            text-decoration: none;
            color: $menu-text;
            font-size: 16px;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            display: flex;

            .info__text {
                margin-left: 10px;
                font-family: Museo500;
                text-align: center;
            }
            .info__quantityIn {
                display: none;
            }
        }
        
        .info__quantity {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Museo500;
            font-weight: 500;
            font-size: 12px;
            width: 34px;
            height: 22px;
            color:$white;
            border-radius: 12px;
            background: $color-grey;
            
        }
    }
    .info_active {

            .info__text {
                color:$white;
            } 

            .info__icon {
                rect {
                    fill:$white;
                }
            }
        }
    &__horLine1{
        margin-left: 0;
        width: 250px;
    }
    &__profile{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        
        .dropmenu {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 10px;

            .orders__info {
                margin-top: 26px;
            }
        }

        .container {
            display: flex;
            align-items: center;
        }

        .arrowContain {
            width: 20px;
            height: 20px;
            margin-left: 84px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .arrow {
            transform: rotate(180deg);
        }
        
        .arrow_active {
            transform: rotate(360deg);
        }
    }
    &__support{       
        position: absolute;
        bottom: 0;
    }

    @media (max-width:768px) {
        position: fixed;
        display: flex;
        top:calc(100vh - 60px);
        width: 100%;
        height: 60px;
        flex-direction: row;
        justify-content: space;
        align-items: center;
        background-color:$white;
        &__bell {
            justify-content: space-around;
            display: block;
        }
        &__orders,
        &__clients,
        &__catalog,
        &__examples {
            display: flex;
            justify-content: center;
            width: 25%;
            margin:0;
            .orders__info{
                color: $menu-text;
                font-size: 16px;
                justify-content: center;
                align-items: center;
                display: flex;
                text-decoration: none;
                font-size: 10px;
                flex-direction: column;
                justify-content: space-around;
                .info__text {
                    margin-left: 0px;
                }
                
                .info__icon {
                    width: 20px;
                    height: 20px;

                }
            }

            .info__quantity {
                display: none;
            }
        }
        .info_active {

            .info__text {
                color:$menu-active-tab;
            } 

            .info__icon {
                rect {
                    fill:$menu-active-tab;
                }
            }
        }
        &__profile,
        &__support,
        &__horLine1,
        &__horLine,
        &__logo {
            display: none;
        }
    }

    @media (min-width:769px) and (max-width:1200px) {
        width: 90px;
        &__logo {
            display: none;
        }
        &__logo1 {
            display: block;
            background-color: $color-slidebar;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 74px;
            width: 90px;
        }
        &__horLine1,
        &__horLine,
        &__orders,
        &__clients,
        &__catalog,
        &__examples,
        &__profile,
        &__support{
            width: 100%;
            margin:0;
            .orders__info {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                .info__text {
                    font-size: 10px;
                    margin:0;
                } 

                .info__icon {
                    width: 28px;
                    height: 28px;
                }
                
                .info__quantityIn {
                    align-self: flex-end;
                    margin-right: 10px;
                    right: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: Museo500;
                    font-weight: 500;
                    font-size: 8px;
                    width: 20px;
                    height: 12px;
                    color:$white;
                    border-radius: 12px;
                    background: $color-grey;
                }

            }
            .info_active {
                background:$active-order-tablet;

            }
            .info__quantity {
                display: none;
            }
        }

        &__profile {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            .arrowContain {
                display: none;
            }
            
            .container {
                width: 100%;
                height: 90px;
            }

            .dropmenu {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 0px;
    
                .orders__info {
                    margin-top: 0px;
                    margin-left: 0px;
                    width: 100%;
                    height: 90px;
                }

                #gift {
                    display: none;
                }
            }

        }

        &__orders,
        &__clients,
        &__catalog,
        &__examples,
        &__profile,
        &__support{
            width: 90px;
            min-height: 90px;

        }
    }
}