@import '../../resources/styles/variables.scss';

.grid {
    width: calc(100%-250px);
    height: 100%;
    height: calc(100vh - 74px);
    margin-left: 250px;
    background: $back-color-clients;

    &__search {
        padding-top: 30px;
        display: flex;
        justify-content: flex-end;
        margin-right: 80px;
        .search__text {
            width: 200px;
            height: 40px;
            border-radius: 4px;
            border: none;
            outline: none;
            padding-left: 14px;
            &::placeholder {
                color: $placeholder-color;
            }
        }

        .search__icon {
            position: absolute;
            top: 60px;
            right: 90px;
        }
    }

    &__table {
        overflow: hidden;
        margin-top: 30px;

        .table__titles {
            height: 50px;
            display: flex;
            align-items: center;
            border: 1px solid #D4D4D4;
            border-radius: 6px;
            margin-bottom: 22px;
            margin-left: 50px;
            margin-right: 80px;

            .titles__FIO,
            .titles__phone,
            .titles__mail,
            .titles__date {
                display: flex;
                align-items: center;
                .FIO__text,
                .phone__text,
                .mail__text,
                .date__text {
                    color: #2C2A29;
                    font-weight: 500;
                    font-size: 14px;
                    margin-left: 10px;
                    font-family: Museo500;
                }

            }

            .titles__date {
                margin-right: 32px;
            }
            .titles__FIO {
                margin-left: 30px;
                width: 30%;
            }
            .titles__phone {
                width: 20%;
            }
            .titles__mail {
                width: 20%;
            }
            .titles__date {
                width: 25%;
            }

        }

        .table__record {
            transition: .3s;
            height: 70px;
            display: flex;
            align-items: center;
            background-color: $white;
            border-radius: 6px;
            margin-bottom: 10px;
            margin-left: 50px;
            margin-right: 80px;

            .record__FIO,
            .record__phone,
            .record__mail,
            .record__date {
                display: flex;
                color: #2C2A29;
                font-size: 14px;
                //margin-left: 10px;
                font-family: Museo500;
            }
            .record__FIO {
                width: 30%;
                margin-left: 30px;
            }
            .record__phone {
                width: 17%;
                margin-left: 30px;
            }
            .record__mail {
                width: 25%;
                margin-left: 15px;
            }
            .record__date {
                width: 17%;
                //margin-left: 30px;
            }
        
        }

        .table__record:hover {
            margin-left: 40px;
            margin-right: 70px;
        }
    }

    @media (max-width: 768px) {
        margin-left: 0;
        display:flex;
        flex-direction: column;
        
        &__search {
            display: none;
        }

        &__table {
            padding-bottom: 100px;
            margin-bottom: 30px;
            overflow: hidden;
            .table__titles {
                margin-right: 50px;
                justify-content: space-around;
                .titles__mail,
                .titles__phone {
                    display: none;
                }
                .titles__FIO,
                .titles__date { 
                    width: 33%;
                    display: flex;
                    justify-content: center;

                    .FIO__text,
                    .date__text {
                        font-size:12px ;
                    }
                    
                }
            }
            
            .table__record:hover {
                margin-right: 40px;
    
            }

            .table__record {
                margin-right: 50px;
                justify-content: space-around;
                .record__phone,
                .record__mail {
                    display: none;
                }
                .record__date,
                .record__FIO { 
                    width: 33%;
                    display: flex;
                    justify-content: center;
                    
                    .FIO__text,
                    .date__text {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}





