@import '../../../../resources/styles/variables.scss';

.grid::-webkit-scrollbar {
    display: none;
}
.grid {
    height: calc(100vh - 74px);
    padding-bottom: 20px;
    margin-left: 250px;
    background: $back-color-Orders;
    overflow: scroll;
    overflow-x: hidden;
    
    @media (max-width: 768px) {  
        margin-left: 0px;
    }
    @media (max-width: 1200px) and (min-width: 769px){
        margin-left: 90px;
    }
}
