.GlueInfo {
    width: calc(100% - 130px);
    height: 40px;
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 90px;
    &__needed {
        display: flex;
        align-items: center;
        .text {
            margin-left: 10px;
            font-size: 16px;
            color: #2C2A29;
        }
        .btn {
            color: white;
            margin-left: 10px;
            height: 20px;
            width: 20px;
            background: #6F8094;
            border-radius: 10px;
            text-align: center;
            cursor: pointer;
        }
        .btn:hover {
            transition: .4s;
            background: #1A72E8;
        }
    }
    &__slash {
        width: 2px;
        height: 26px;
        margin-left: 30px;
        margin-right: 30px;
        background: #C4C9D7;
        opacity: 0.5;
    }
    &__date {
        font-size: 14px;
        color: #2C2A29;
    }
}

@media (max-width:768px) {
    .GlueInfo {
        width: calc(100% - 24px);
        margin-left: 12px;
        flex-direction: column;
        &__needed {
            .text {
                font-size: 14px;
            }
        }
        &__date {
            margin-top: 7px;
            font-size: 12px;
            color: #6F8094;
        }
        &__slash {
            display: none;
        }
    }
}

@media (max-width: 1200px) and (min-width: 768px) {
    .GlueInfo {
        width: calc(100% - 60px);
        margin-left: 30px;
        &__date {
            font-size: 12px;
        }
        &__needed {
            .text {
                font-size: 12px;
            }
        }
    }
}