@import '../../../../../../resources/styles/variables.scss';

.modalWrapper {
    position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.22);
	z-index: 30;
}

.modal {
    width: 1128px;
    min-height: 580px;
	position: fixed;
	top: 50%;
	left: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translate(-50%, -50%);
	background-color: #F5F7FB;
    border-radius: 6px;
    box-shadow: 0px 0px 12px rgba(16, 23, 30, 0.1);
	&:focus {
		outline: none;
	}
	.header {
		background-color: white;
		width: 100%;
		height: 44px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.title {
			font-size: 16px;
			color: #2C2A29;
			margin-left: 30px;
		}
		.ready {
			cursor: pointer;
			font-size: 14px;
			text-align: center;
			color: #1A72E8;
			margin-right: 30px;
		}
	}
	.mymap {
		width: 100%;
		height: 465px;
		.ymap {
			width: 100%;
			height: 100%;
		}
	}
	.footer {
		background-color: white;
		display: flex;
		align-items: center;
		height: 68px;
		width: 100%;

		.address {
			margin-left: 34px;
			font-size: 14px;
			color: #2C2A29;
		}
	}
}